@media all and (min-width: 480px) and (max-width: 768px){  

    h2 {
        font-size: 26px;
    }
    
    .weather_summary {
        margin-top: -235px;
        margin-left: 25px;
        position: absolute;
        text-align: left;
        line-height: 0.5rem;
        padding: 1.5rem;
        opacity: .8;
    }

    .gallery {
        grid-template-columns: 1fr 1fr;
      }
}
