/* @import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap'); */

body {
    margin: 0px auto;
    padding: 0;
    font-size: 15px;
    font-family: "Jost", sans-serif;
    background-color: #ffffff;
    color:#353E46;
}

footer a {
   color: white;
}


header {
    margin: 0px auto;
	background-color: #50b2c0;
	display: flex;
    padding: 15px 0px;
    align-items: center;
	justify-content: center;
}


header img {
	width: 80px;
	height: auto;
}

main {
    font-size: 0.9rem;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
}

footer {
    background-color: #353E46;
    padding: 10px;
    text-align: center;
    color:#ffff;
    font-weight: 300;
    margin: 0 auto;
}

.banner {
    margin: auto;
    text-align: center;
    padding: 5.5px;
    line-height: 0.9rem;
    background-color: #ffd166;
    color: black;
}

h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

/* .hero img {
    width: 50%;
} */



.weatherIcon {
    align-items: center;
    width: 50%;
}

.headings h1 {
    color: black;
    text-transform: uppercase;
    font-size: 1.9rem;
    margin: 0 0 0 17px;
}

.m {
    color: black;
	margin-left: 10px;
	font-size: .8rem;
}

nav {
    background-color:#353E46;
    text-align: center;
    width: 100%;
    box-shadow: 1px 1px 1px 1px rgba(63, 62, 62, 0.027);
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

nav ul li a {
    color:#ffff;
    text-align: center;
    padding: 0.95rem;
    text-decoration: none;
    display: block;
}




nav ul li a:hover {
    background-color:#657685;
}


nav ul li a:active{ 
    background-color: #1C6EA4;
    font-weight: 900;
}


.navigation {
    list-style: none;
    padding: 0;
}

.ham {
    align-content: center;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none
}

.navigation a {
    display: block;
    padding: 0.95rem;
}

.navigation a:visited {
    color: rgb(238, 238, 238)

}

.responsive li {
    display: block;
}
.box {
    background-color:#ffff;
    margin-bottom: .7em;
}



.hidden {
    display: none;
}


.hero_box {
    margin: 10px auto;
    position: relative;
}

.hero {
  margin-left: auto;
  margin-right: auto;
  height: 250px;
  width: 100%;
  min-height: fit-content;
}

.weather_summary {
    margin-top: -250px;
    margin-left: 25px;
    position: absolute;
    text-align: left;
    line-height: 0.5rem;
    background:#ffd166;
    color: #000000;
    padding: 1.5rem;
    box-shadow: 0 0 1px #111;
    opacity: .8;
}

  
.article_box {
    background-color: #eeebeb;
    color: #353E46;
    max-width: 960px;
    margin: 1.2em auto 0;
    overflow: hidden;
}

.article_content {
    text-align: left;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}

a.article_content a {
    color: #ffffff;
}


.articleImg {
    max-width: 100%;
}


.flex-container {
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 200px;
    max-width: 1220px;
    margin-top: 10px;
    margin-bottom: 0em;
}

.contactspan {
    padding-left: 10px;
    text-align: center;
    float: right;
}

.flex-item {
    background-color: #c9d2db;
    margin: 3px;
    padding: 10px 0 0 10px;
    padding: 5px;
    text-align: center;
}


img[data-src] {
    filter: blur(0.5em);
    -webkit-filter: blur(0.5em);
}
  
img {
    filter: blur(0em);
    transition: filter 0.5s;
    -webkit-transition: filter 1.5s;
    -moz-transition: filter 1.5s;
    -ms-transition: filter 1.5s;
    -o-transition: filter 1.5s;
    -webkit-filter: blur(0em);
}


.map {
    width: 300px;
    height: 260px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;

}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
  }
  
  .gallery figure {
    margin: 0;
    padding: 0;
  }

  .gallery img {
    box-sizing: border-box;
    box-shadow: -4px 0px 15px 1px rgba(76,76,76,0.4);
    width: 100%;
  }
  
  .gallery figcaption {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.054);
    padding-bottom: 10px;
    font-size: 1em;
    color: #05386B;
    padding-top: 10px;
    text-align: center;
  }


#stormcenter {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}
  
#stormcenter .formfield label {
  display:flex;
  flex-direction: column;
}
#stormcenter .formfield .dangerlevel {
  flex-direction: row;
}
  
#stormcenter .formfield .dangerlevel .optionvalue {
  position: relative;
  top: 10px;
  left: 15px;
}
  
#stormcenter input {
  height:30px;
  border: 1px solid rgba(85, 85, 85, 0.288);
} 
#stormcenter input:required:invalid {
  border-left: 6px solid rgba(255, 0, 0, 0.568);
}

#stormcenter input:required:valid {
    border-left: 6px solid green;
  }
  #stormcenter input[type=radio] {
    display: block;
  }
  
  #stormcenter #comments {
    height: 80px;
  }
  
  #stormcenter label {
      margin-left: 20px;
      text-align: left;
      padding: 15px 0px 0px;
  }

  #stormcenter .formfield {
    margin-top: 10px;
  }
  
#stormcenter #submit {
  margin-top: 20px;
  width:80%;
  border-radius: 20px;
  max-width: 25rem;
  background-color:  #ffd166;
  font-size: 20px;
  height: 45px;
  border: none;
  color: black;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
  

#stormcenter fieldset{
  border: 1px solid rgba(85, 85, 85, 0.288);
  padding: 0 2em 1em 1em;
  border-radius: 5px;
}
  
#stormcenter legend {
  text-align: left;
  font-weight: 400;
  color: #353E46;
  font-size: 1.4em;
  padding: 0.75em;
}

.cards {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
}

.cards section {
  box-shadow: -4px 0px 15px 1px rgba(76, 76, 76, 0);
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #d7e8eb;
}



.cards section img {
  padding-top: 20px;
  border-radius: 18px;
  width: 80%;
  height: auto;
  padding: 5px;
  filter: blur(0em);
  transition: filter 1s;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
}

.cards section:hover {
  background-color: #a6bcc0;

}


#forecast {
  display: none;
}

#events p {
  padding: 20px;
  background-color:  #d6e3e6;
}

#events p:hover {
  padding: 20px;
  background-color:  #c7cfd1;
}
